

.title{
    position: relative;
    top: 50px;
    text-align: center;
}

Strong{
    color: red;
}

#format{
    position: relative;
    left: -345px;

    height: 3rem;

    background-color: #0485ff;
    border: none;
}



.box{
    display: grid;
    place-items: center;
    place-content: center;
    width:  70%;
    height:  18rem;
    background-color: #f6f1f1d3;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    


}
.box2{
    display: grid;
    place-items: center;
    place-content: center;
    width:  362%;
    height:  3rem;
    background-color: #8a8888d3;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    


}



.container2{
    display: grid;
    place-items:center;


    text-align: center;

    position: absolute;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


    top: 35%;
    left: 10%;
}

.container3{
    display: grid;
    place-items:center;


    text-align: center;

    position: absolute;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


    top: 84%;

}

.input{


    position: relative;

    left: -161px;
    width: 323%;
    height: 3rem;
}

.format{
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;

}


.convertBtn{



    border-radius:4px 4px 4px 4px;
    border:2px solid #0485ff;
    background: #0485ff;
    color:white;
    height: 3rem;

   



}

.convertBtn:hover{
    background-color: #0f59d8;
    border: 2px solid #0f59d8;
}

.space{
    margin-left: 100px;
}




